:root {
    --mint-cream: #f0f7f4;
    --dark-amethyst: #0c0a3e;
    --granite: #3b5249;
    --honeydew: #d5e7de;
    --muted-teal: #7daa92;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--mint-cream);
    margin: 0;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.body-idk {
    background-color: var(--honeydew);
}


button {
    font-family: inherit;
}
button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}




.foldercover {
    background-color: var(--honeydew);
    margin: 20px;
    padding: 20px;
    border: 8px solid var(--honeydew);
    min-height: 100vh;

}


/* giant chunk of nav styling.... */
nav {
    font-size: 35px;
    margin: 20px 30px 0;
    display: flex;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;

}

#home-link {
    background-color: var(--honeydew);
    height: 35px;
    width: 35px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}


#about-link {
    background-color: var(--muted-teal);
    color: white;
    display: block;
    height: 35px;
    width: 205px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

#projects-link {
    background-color: var(--granite);
    color: white;
    display: block;
    height: 35px;
    width: 205px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact-link {
    background-color: var(--muted-teal);
    color: white;
    display: block;
    height: 35px;
    width: 205px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.plus-btn {
    background-color: var(--honeydew);
    display: block;
    height: 35px;
    width: 35px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.plus-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
}

#home-link:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
}

#about-link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#projects-link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#contact-link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}


/* ssecond nav, needs more fixing */
main {
    background-color: var(--granite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    margin: 0;
    padding: 15px 20px;
}

main h1 {
    margin: 0;
}

main h1 a {
    font-size: 28px;
    text-decoration: none;
    color: white;
}

#search {
    background-color: var(--muted-teal);
    color: white;
    width: 420px;
    height: 45px;
    font-size: 18px;
    border: none;
    padding-left: 15px;
    outline: none;
}

.explore-sec {
    text-align: center;
    padding: 5px 0px;
}

.explore-sec h2 {
    font-size: 38px;
    color: var(--dark-amethyst);
    margin-bottom: 20px;
}

.explore-sec p {
    font-size: 22px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
    color: var(--dark-amethyst);
}

.explore-sec button {
    margin-top: 40px;
    background-color: var(--granite);
    color: white;
    border: none;
    padding: 18px 60px;
    font-size: 24px;
    cursor: pointer;
}


.more-abt {
    text-align: center;
    border-top: 3px solid var(--dark-amethyst);
    margin: 50px 50px;
    padding: 60px 40px;
}

.more-abt h2 {
    font-size: 32px;
    color: var(--dark-amethyst);
}

.more-abt p {
    font-size: 20px;
    max-width: 800px;
    margin: auto;
    line-height: 1.7;
    color: var(--dark-amethyst);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0 80px;
}

.action-buttons button {
    background-color: var(--granite);
    border: none;
    padding: 20px 40px;
}

.action-buttons a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}









/*contact in main page sectiom */

.bottom-nav {
    background-color: var(--granite);
    transform: translateY(20px);
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    color: white;

}

.bottom-nav p {
    text-align: left;
    font-size: 18px;
    max-width: 500px;
    margin: 0;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.email,
.linkedin,
.github {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: auto;
    font-size: 16px;
}

.bottom-socials {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottom-socials img {
    width: 18px;
    height: 18px;
}

.bottom-socials a {
    color: white;
    text-decoration: none;
}

.bottom-nav button {
    background-color: var(--muted-teal);
    border: none;
    padding: 16px 30px;
    margin-top: 25px;
    cursor: pointer;
}

.bottom-nav button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.contentcover {
    background-color: white;
    margin: 20px 30px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}



















/* about me stuff */
#hs {
    background-size: 10px;
    width: 480px;

}


.abt-me {
    text-align: center;
    padding: 5px 10px;
}

.abt-me h2 {
    font-size: 38px;
    color: var(--dark-amethyst);
    margin-bottom: 20px;
}

.abt-me p {
    font-size: 22px;
    max-width: 1200px;
    margin: auto;
    line-height: 1.6;
    padding: 10px;
    padding-bottom: 60px;
}


.cart-relf,
.awards,
.certi,
.years-plan,
.hobbies {
    padding: 5px 10px;
}

.cart-relf p,
.awards p,
.certi p,
.years-plan p,
.hobbies p {
    font-size: 22px;

    margin: auto;
    line-height: 1.6;
    padding: 10px;
}

.cart-relf h3,
.awards h3,
.certi h3,
.years-plan h3,
.hobbies h3 {
    font-size: 38px;
    color: var(--dark-amethyst);
    margin-bottom: 20px;

}

.certi li {
    font-size: 22px;
    margin: auto;
    line-height: 1;
    padding: 10px;
}


























/* projects section */
.projects a {
    text-decoration: none;
}

#project-img {
    background-size: cover;
}

.prj {
    text-align: center;
    padding: 40px 0;
}

.prj h2 {
    font-size: 32px;
    color: var(--dark-amethyst);
    margin-bottom: 15px;
}

.prj p {
    font-size: 18px;
    color: var(--dark-amethyst);
}


.projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

.bioshield,
.pawpal,
.fcz,
.to-do,
.budget {
    background-color: var(--muted-teal);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}


#project-img {
    width: 290px;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
    border: 7px solid var(--granite);
    border-radius: 30px;
}

.bioshield h3,
.pawpal h3,
.fcz h3,
.to-do h3,
.budget h3 {
    border-right: 4px solid white;
    padding-right: 20px;
    margin: 0;
    font-size: 22px;
}

.bioshield sub,
.pawpal sub,
.fcz sub,
.to-do sub,
.budget sub {
    display: block;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    font-size: 28px;
}

.projects a {
    color: white;
    text-decoration: none;
}

.bioshield:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}

.pawpal:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}

.fcz:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}

.to-do:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}

.budget:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}

.project-desc {
    font-size: 15px;
    line-height: 1.5;
    color: white;
    margin: 10px 0 0;
}





















/* contact stuff here */
.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h2 {
    font-size: 40px;
    color: var(--dark-amethyst);
}

.contact-header p {
    font-size: 22px;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    margin: auto;
}

.contact-form label {
    font-size: 22px;
    color: var(--dark-amethyst);
}

.contact-form input,
.contact-form textarea {
    padding: 18px;
    border: 2px solid var(--muted-teal);
    font-size: 18px;
    font-family: inherit;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: var(--granite);
    color: white;
    border: none;
    padding: 18px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 90px;
}

.contact-form button:hover {
    transform: scale(1.02);
    transition: 0.4s;
}



























/* BIOHSIELD STUFF DOWN BELOWW */
#bioshield {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

#bioshield h2 {
    text-align: center;
    font-size: 42px;
    color: var(--dark-amethyst);
    margin-bottom: 50px;
}

#bioshield h2 a {
    text-decoration: none;
    color: var(--dark-amethyst);
}

.bioshield-top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bioshield-top img {
    width: 500px;
    height: 300px;
    border: 4px solid var(--granite);
    border-radius: 20px;
    flex-shrink: 0;
}

.bioshield-desc {
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark-amethyst);
    margin: 0;
    max-width: 550px;
}

#bioshield-experience {
    padding: 20px 40px 80px;
    max-width: 1200px;
    margin: auto;
}

#bioshield-experience h2 {
    font-size: 34px;
    color: var(--dark-amethyst);
    margin-top: 50px;
    margin-bottom: 20px;
}

#bioshield-experience p {
    font-size: 22px;
    line-height: 1.8;
    color: var(--dark-amethyst);
}

#bioshield-experience li {
    font-size: 22px;
    line-height: 1.8;
}

#bioshield-experience img {
    width: 500px;
    height: 200px;
    display: block;
    margin: 40px auto;
    border: 4px solid var(--granite);
    border-radius: 20px;
}

















/* PAWPAL STUFF BELOW */ 
#pawpal {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

#pawpal h2 {
    text-align: center;
    font-size: 42px;
    color: var(--dark-amethyst);
    margin-bottom: 50px;
}

#pawpal h2 a {
    text-decoration: none;
    color: var(--dark-amethyst);
}

.pawpal-top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.pawpal-top img {
    width: 500px;
    height: 300px;
    border: 4px solid var(--granite);
    border-radius: 20px;
    flex-shrink: 0;
}

.pawpal-desc {
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark-amethyst);
    margin: 0;
    max-width: 550px;
}

#pawpal-experience {
    padding: 20px 40px 80px;
    max-width: 1200px;
    margin: auto;
}

#pawpal-experience h2 {
    font-size: 34px;
    color: var(--dark-amethyst);
    margin-top: 50px;
    margin-bottom: 20px;
}

#pawpal-experience p {
    font-size: 22px;
    line-height: 1.8;
    color: var(--dark-amethyst);
}

#pawpal-experience li {
    font-size: 22px;
    line-height: 1.8;
}

#pawpal-experience img {
    width: 500px;
    height: 200px;
    display: block;
    margin: 40px auto;
    border: 4px solid var(--granite);
    border-radius: 20px;
}




















/* FCZ STUFF BELOW */
#fcz {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

#fcz h2 {
    text-align: center;
    font-size: 42px;
    color: var(--dark-amethyst);
    margin-bottom: 50px;
}

#fcz h2 a {
    text-decoration: none;
    color: var(--dark-amethyst);
}

.fcz-top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.fcz-top img {
    width: 500px;
    height: 300px;
    border: 4px solid var(--granite);
    border-radius: 20px;
    flex-shrink: 0;
}

.fcz-desc {
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark-amethyst);
    margin: 0;
    max-width: 550px;
}

#fcz-experience {
    padding: 20px 40px 80px;
    max-width: 1200px;
    margin: auto;
}

#fcz-experience h2 {
    font-size: 34px;
    color: var(--dark-amethyst);
    margin-top: 50px;
    margin-bottom: 20px;
}

#fcz-experience p {
    font-size: 22px;
    line-height: 1.8;
    color: var(--dark-amethyst);
}

#fcz-experience li {
    font-size: 22px;
    line-height: 1.8;
}

#fcz-experience img {
    width: 500px;
    height: 200px;
    display: block;
    margin: 40px auto;
    border: 4px solid var(--granite);
    border-radius: 20px;
}























/* TO-DO LIST BELOW */
#todo {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

#todo h2 {
    text-align: center;
    font-size: 42px;
    color: var(--dark-amethyst);
    margin-bottom: 50px;
}

#todo h2 a {
    text-decoration: none;
    color: var(--dark-amethyst);
}

.todo-top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.todo-top img {
    width: 500px;
    height: 300px;
    border: 4px solid var(--granite);
    border-radius: 20px;
    flex-shrink: 0;
}

.todo-desc {
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark-amethyst);
    margin: 0;
    max-width: 550px;
}

#todo-experience {
    padding: 20px 40px 80px;
    max-width: 1200px;
    margin: auto;
}

#todo-experience h2 {
    font-size: 34px;
    color: var(--dark-amethyst);
    margin-top: 50px;
    margin-bottom: 20px;
}

#todo-experience p {
    font-size: 22px;
    line-height: 1.8;
    color: var(--dark-amethyst);
}

#todo-experience li {
    font-size: 22px;
    line-height: 1.8;
}

#todo-experience img {
    width: 500px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border: 4px solid var(--granite);
    border-radius: 20px;
}



















/* BUDGET CALCULATOR BELOW */
#budgetcalc {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

#budgetcalc h2 {
    text-align: center;
    font-size: 42px;
    color: var(--dark-amethyst);
    margin-bottom: 50px;
}

#budgetcalc h2 a {
    text-decoration: none;
    color: var(--dark-amethyst);
}

.budgetcalc-top {
    display: flex;
    align-items: center;
    gap: 40px;
}

.budgetcalc-top img {
    width: 500px;
    height: 300px;
    border: 4px solid var(--granite);
    border-radius: 20px;
    flex-shrink: 0;
}

.budgetcalc-desc {
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark-amethyst);
    margin: 0;
    max-width: 550px;
}

#budgetcalc-experience {
    padding: 20px 40px 80px;
    max-width: 1200px;
    margin: auto;
}

#budgetcalc-experience h2 {
    font-size: 34px;
    color: var(--dark-amethyst);
    margin-top: 50px;
    margin-bottom: 20px;
}

#budgetcalc-experience p {
    font-size: 22px;
    line-height: 1.8;
    color: var(--dark-amethyst);
}

#budgetcalc-experience li {
    font-size: 22px;
    line-height: 1.8;
}

#budgetcalc-experience img {
    width: 500px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border: 4px solid var(--granite);
    border-radius: 20px;
}






































































/* below here will be the resume stuff !!! */

body.resume-body {
    font-family: Arial, sans-serif;
    background-color: var(--mint-cream);
    color: var(--dark-amethyst);
}

nav {
    margin-bottom: 0px;
}

h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 50px;
}

h3 {
    font-size: 18px;
    margin: 5px 0 40px 10px;
    color: var(--granite);

}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 14px;
    text-decoration: none;
}

.socials div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 190px;
    height: 20px;
}


.summary {
    margin-bottom: 30px;
}

.summary h4 {
    border-bottom: 2px solid var(--muted-teal);
    padding-bottom: 5px;
}

.summary p {
    font-size: 14px;
    line-height: 1.6;
}

.left-side {
    width: 30%;
    float: left;
}



section {
    margin-bottom: 25px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--muted-teal);
    padding-bottom: 0px;
}

h5 {
    font-size: 15px;
    margin: 5px 0;
}

sub {
    display: block;
    font-size: 13px;
    color: var(--granite);
    margin-bottom: 5px;
}

ul {
    padding-left: 18px;
    margin-top: 5px;
}

li {
    font-size: 13px;
    margin-bottom: 6px;
}

.bottom {
    clear: both;
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.bottom ul {
    padding-left: 18px;
}